*.svn*
*~
*#
*.elc
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list/*
cedet
ede-projects.el
el-get/*
elpa/*
org-clock-save.el
private
semanticdb/
session.*
session.*
swank
tramp
url/cookies
places
.smex-items
tmp
recipes/private.rcp


/recipes/private.el
/recipes/.config

/.mc-lists.el
/TAGS
/image-dired/.image-dired_db
/image-dired/.image-dired_temp
/image-dired/*.thumb.*
/organizer.el
/dribble
/bookmarks
.desktops
