*.svn*
*~
*#
*.elc
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list/*
cedet
ede-projects.el
el-get/*
elpa/*
org-clock-save.el
semanticdb/
session.*
session.*
swank
tramp
url/cookies
places
.smex-items
tmp
recipes/private.rcp

/private.el
/recipes/private.el
